body {
    background: #fe01cb;
    scrollbar-width: thin;
}

@font-face {
    font-family: 'Flood Std Regular';
    src: url('./Flood Std Regular.otf');
}

.title {
    font-size: 76px;
}

.small-icon {
    width: 25px;
    height: 25px;
}

.small-icon svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .title {
        font-size: 46px;
    }
}

/* add pink scrollbars */

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 0, 204);
}

::-webkit-scrollbar-thumb {
    background: #c100c1;
}
